body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#game-canvas {
    width: 800px;
    /*height: 600px;*/
    margin: auto;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: -300px -400px;*/
}